body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url('images/agri7.jpg');
    background-size:cover;
    background-position:center;

}
.signup {
    width: 300px;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding:20px;
    margin:8% auto 0;
    text-align: center;
}
.signup from h1 {
        color: #1c8adb;
        margin-bottom: 30px;
}
.inbox{
    border-radius:20px;
    padding:10px;
    margin:10px 0;
    width:100%;
    border:1px solid #999;
    outline:none;
}
buttton {
    color: #fff;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.sign-btn{
    background-color:#072033;

}
.sign1-btn{
    background-color:#21afde;
}
a{
    text-decoration:none;
}
hr{
    margin-top:25px;
    width:100%;
}
.or{
    background: #fff;
    width:30px;
    margin: -12.5px auto 10px;
}
img{
    width:70px;
    margin-top:-50px;
}