.slider{
    width: 800px;;
    height: 600px;px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: 20px auto;
}
.imgstyle{
    width: 800px;
    height: 600px;;
    object-fit: fill;
}
/*img{
    width:100%;
    height:100%;
}*/
