body
{
    background-color:aqua;
}
h1{
    color:black;
    text-align:center;
    font-family:Algerian;
    background-color: yellow;
    background-origin: border-box;

}
h2{
    color:darkblue;
    text-align:center;

}
p{
    color: darkblue;
    text-align: center;
}